* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 15px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.55em;
}

p{
    letter-spacing: 0.03em;
    line-height: 1.55em;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

.logo-container{

    padding-left: 2vh;
}

.user-container{

    padding-right: 2vh;
}

.header-container{
    width: 100%;
    height: 100px;
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
}

.header-div{
    display: inline-block;
    margin: auto 0;
}

.header-title{
    margin-left: 4px;
    font-size: 20px;
    display: inline-block;
}
.header-user-title {
    margin-right: 4px;
    font-size: 20px;
    display: inline-block;
}

.header-logo{
    vertical-align: middle;
    width: 60px;
}

.input-search{
    width: 450px;
    height: 40px;
    background-color: white;
    outline: none;
    padding: 0 25px;
    border: 1px solid #bbbbbb;
    border-radius: 25px 0 0 25px;
}


.input-button{
    border-radius: 0 25px 25px 0;
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #4ba7f5;
    color: white;
}

.input-search:active{
    outline: none;
}



.body-container{
    display: flex;
    justify-content: center;
}

.body-div{
    display: inline-block;
    vertical-align: top;
}

.side-bar{
    width: 15%;
    height: 60vh;
    border: 1px solid blue;
    justify-items: center;
    text-align: center;

}

.side-bar-button{
    display: flex;
    text-decoration: none;
    color:black;
    padding: 10px;
    justify-content: center;



}

.side-bar-button:hover{
    background-color: #4BA7F5;
    border-radius: 5px;
}

.body-content{
    width: 35%;
    border: 1px solid orangered;
    background-color: #F9FAFB;
}

.profile-info{
    text-align: center;
}

.image-image{
    width: 200px;
}
.profile-name{
    font-size: 22px;
}

.profile-current-info{

}