<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/intro.css" type="text/css">
</head>
<body>

</body>

    <header class="header">
        <div class="container">
            <div class="nav">
                <p>Text us if you have a problem or whant invite</p>
                <p>Octopusnet@mail.ru</p>
            </div>

            <div class="header-content">
                <div class="content-wrapper">
                    <div class="offer">
                        <p class="place">
                            Social network
                        </p>
                        <h1 class="offer-title">
                            octopus.net
                        </h1>
                        <p class="description">
                            Free emotions
                        </p>
                        <a href="#" class="btn">See more</a>
                    </div>

                    <div class="intro">
                        <h4 class="intro-title">
                            Why you should choose this?
                        </h4>
                        <p>
                           This social network was created recently and here is a lot of cool thing, like message and
                            private pages. This site doesn't have any ad what makes it very pretty to teenagers.
                        </p>
                    </div>
                </div>
                <img src="../static/icons/971335-2196f3.svg" alt="" class="right-img">

            </div>

        </div>



    </header>

</html>