<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <title>Main Page</title>

    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>




<div class="main-holder">
    <div class="top-bar">
        <p style="color:white; font-size: 24px;  text-align: center; padding-top: 20px;">Socialism(the funniest social network in the world) </p>
    </div>

    <div class="side-bar">
        <form>
            <button class="side-bar-elements">
             <a th:href="@{/profile}"> Профиль</a>
            </button>
            <button class="side-bar-elements">
                <a th:href="@{/message}"> Сообщения</a>
            </button>
            <button class="side-bar-elements">
                <a th:href="@{/news}"> Новости</a>
            </button>
        </form>
    </div>

    <div class="content-bar">
        dwasdwa
    </div>

</div>

</body>



</body>
</html>