<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/profile.css" type="text/css">
</head>
<body>

<section class="header">
    <div class="header-container">
        <div class="logo-container header-div">
            <img src="../static/icons/971335-2196f3.svg" class="header-logo">
            <p class="header-title">OctopusNet</p>
        </div>
        <div class="input-container header-div">
            <form>
                <input type="search" name="search" class="input-search" placeholder="Type something here...">
                <input type="submit" class="input-button" value="Search">
            </form>
        </div>

        <div class="user-container header-div">
            <p class="header-user-title">Аброгим Дегтярёв</p>
            <img src="../static/icons/971335-2196f3.svg" class="header-logo">
        </div>
    </div>
</section>



<section class="body">
    <div class="body-container">
        <div class="side-bar body-div">
            <div class="wrapper">
                <a href="#" class="side-bar-button">
                    <span>Feed</span>
                </a>
            </div>

            <div class="wrapper">
                <a href="#" class="side-bar-button">

                    <span>Message</span>
                </a>
            </div>

            <div class="wrapper">
                <a href="#" class="side-bar-button">
                    <span>Profile</span>
                </a>
            </div>

            <div class="wrapper">
                <a href="#" class="side-bar-button">
                    <span>Logout</span>
                </a>
            </div>
        </div>
        <div class="body-content body-div">
            <div class="profile-info">
                <img src="../static/icons/971335-2196f3.svg" class="image-image">
                <div class="profile-name-wrapper">
                    <p class="profile-name">
                        Аброгим Дегтярёв
                    </p>
                </div>

                <div class="profile-current-info">
                    <span>Статус:</span>
                </div>
                
                <div class="profile-current-info">
                    <span>Количество друзей:</span>
                </div>

                <div class="profile-current-info">
                    <span>Дата рождения:</span>
                </div>

            </div>

        </div>


    </div>
</section>

</body>
</html>