<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/registration.css" type="text/css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <form>
                <span class="span-form">
                    <h1 class="welcome-text">Welcome to Octopus</h1>
                </span>
                <span class="span-icon span-form">
                    <img src="../static/icons/971335-2196f3.svg" alt="" class="octopus-image">
                </span>

                <div class="wrapper">
                    <input type="text" name="Email" autocomplete="off" class="input" placeholder="Email">
                </div>
                <div class="wrapper">
                    <input type="text" name="password" autocomplete="off" class="input" placeholder="Password">
                </div>
                <div class="wrapper">
                    <input type="text" name="name" autocomplete="off" class="input" placeholder="Name">
                </div>
                <div class="wrapper">
                    <input type="text" name="surname" autocomplete="off" class="input" placeholder="Surname">
                </div>

                <div class="wrapper-button wrapper">
                    <a href="#" class="btn">REGISTER</a>
                </div>
                <ul class="login-more">
                    <li>
                        <span>Forgot</span>
                        <a href="#"> Username/Password?</a>
                    </li>
                    <li>
                        <span>Have an account?</span>
                        <a href="#"> Sign in</a>
                    </li>
                </ul>
            </form>

        </div>
    </header>
</body>
</html>